.timer_photo {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: #261e1c;
    font-size: 25px;
}

.timer {
    margin-top: 0;
    margin-bottom: 200px;
}

.timer_text_sale {
    color: #261e1c;
    font-size: 55px;
    font-family: Prata, serif;
    line-height: 1.1;
    letter-spacing: 0.5px;
}

.countdown {
    display: flex;
    flex-direction: column;
}

@media(min-width:640px) {
    .countdown {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}



.timer_section {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    /*display:inline-block;*/
    font-size: 45px;
    font-family: Prata, serif;
    text-align: center;
    border: 1px solid black;
}

.units {
    font-size: 30px;
    font-family: Prata, serif;
    color: #261e1c;
}

.timer_text_plan {
    color: #261e1c;
    font-size: 42px;
    font-family: Prata, serif;
    line-height: 1.2;
}

.photo_text_group {
    color: #261e1c;
    font-size: 22px;
    font-family: Rubik, light;
}

.photo_location {
    margin-bottom: 30px;
}

.location {
    margin: 30px;
    border: 1px solid black;
    /*display: inline-block;*/
    width: 365px;
    height: 370px;
}

.location__imeg {
    width: 365px;
    height: 370px;
}


.location h4 {
    border: 1px solid black;
    background-color: #F0F8FF;
    color:#261e1c;
}

.photo_link {
    border: 2px solid black;
    padding: 10px;
}