.header__container {
    background-image: url("../img/header/header-banner.jfif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: 69% 43%;
}

.header__navigator-logo {
    display: flex;
    align-self: center;
}

.header__logo-img {
    width: 176px;
    height: 44px;
    z-index: 1;
}

/* NAVBAR */

.header__navigation {
    padding: 30px 40px 30px 27px;
    background-color: var(--header-opasity-0-navbar-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 992px) {
    .header__navigation {
        background-color: var(--header-opasity-20-navbar-background);
    }

    .header__navigation-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
}

.header__navigation-wrapper {
    display: flex;
    align-items: center;
}

.header__navigation-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.header__navigation-link {
    color: var(--main-text-color);
    text-decoration: none;
    display: flex;
    margin: 9px;
    font-weight: bold;
}

.header__navigation-link:hover {
    color: var(--main-link-text-color);
    text-decoration: none;
}

.header__navigation-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.header__navigation-social-link {
    display: flex;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px;
    color: var(--main-link-text-color);
    text-decoration: none;
    border: 1px solid var(--main-link-text-color);
}

.header__navigation-social-link:hover {
    background-color: var(--main-link-text-color);
    color: var(--header-burger-menu-background);
}


@media (max-width: 991px) {
    body.lock {
        overflow: hidden;
    }

    .header__navigation-wrapper {
        position: fixed;
        justify-content: center;
        flex-direction: column;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--header-burger-menu-background);
        transition: top 0.3s ease-in;
        overflow: hidden;
        margin: auto;
    }

    .header__navigator-logo {
        z-index: 2;
    }

    .header__navigation-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;
    }

    .header__navigation-link {
        margin: 15px;
    }

    .header__navigation-wrapper.active {
        top: 0;
    }
}

.header__navigation-burger {
    position: relative;
    width: 10px;
    height: 2px;
    padding: 7px;
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 991px) {

    .header__navigation-burger::before,
    .header__navigation-burger span,
    .header__navigation-burger::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--main-text-color);
        transition: all 0.25s ease-in-out;
        z-index: 2;
    }

    .header__navigation-burger span {
        transform: scale(1);
    }

    .header__navigation-burger::before,
    .header__navigation-burger::after {
        content: " ";
    }

    .header__navigation-burger::before {
        top: 0;
    }

    .header__navigation-burger::after {
        bottom: 0;
    }

    .header__navigation-burger.active::before {
        top: 50%;
        transform: rotate(45deg);
    }

    .header__navigation-burger.active span {
        transform: scale(0);
    }

    .header__navigation-burger.active::after {
        bottom: 40%;
        transform: rotate(-45deg);
    }
}

/* BANNER */
.header__banner {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__banner-taste-our {
    font-family: 'Great Vibes';
    color: var(--main-link-text-color);
}

@media (min-width: 991px) {
    
    .header__banner {
        align-items: flex-start;
        justify-content: center;
        padding-left: 50%;
    }
    
    .header__banner-taste-our {
        font-size: 28px;
    }

    .header__banner-h1 {
        margin: 25px 0 40px;
        font-size: 84px;
    }

    .header__banner-element {
        margin: 20px;
    }

    .header__banner-p {
        margin: 20px 0 20px;
        font-size: 18px;
    }

    .header__banner-button-shop {
        padding: 12px;
        margin: 10px;
    }

    .header__banner-button-learn {
        padding: 10px;
        margin: 10px;
    }
}


.header__banner-h1 {
    font-family: 'Prata';
    font-weight: lighter;
    color: var(--main-text-color);
}

.header__banner-element {
    width: 150px;
}

.header__banner-p {
    color: var(--main-text-color);
    text-align: center;
}

.header__banner-button {
    margin: 20px;
}

.header__banner-button-shop {
    color: var(--main-text-color);
    text-decoration: none;
    background-color: var(--main-link-text-color);
    padding: 7px;
    margin: 5px;
    width: 100%;
    font-weight: bold;
}

.header__banner-button-shop:hover {
    background-color: var(--main-button-press-background-color);
}

.header__banner-button-learn {
    color: var(--main-text-color);
    background-color: var(--header-opasity-0-navbar-background);
    text-decoration: none;
    border: 2px solid var(--main-text-color);
    padding: 5px;
    margin: 5px;
    width: 100%;
    font-weight: bold;
}

.header__banner-button-learn:hover {
    background-color: var(--main-text-color);
    color: var(--background-color);
}

.header__main-navigator {
    padding: 50px 12%;
    grid-template-columns: 1fr;
    display: grid;
    gap: 30px;
}

@media (min-width: 991px) {
    .header__main-navigator {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1300px) {
    .header__main-navigator {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.header__main-navigator-1 {
    background-image: url(../img/header/header-main-navigator-1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.2px solid var(--dark-color);
    width: auto;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 10px;
}

.header__main-navigator-2 {
    background-image: url(../img/header/header-main-navigator-2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.2px solid var(--dark-color);
    width: auto;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 10px;
}

.header__main-navigator-3 {
    background-image: url(../img/header/header-main-navigator-3.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.2px solid var(--dark-color);
    width: auto;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 10px;
}


.header__main-navigator {
    background-color: var(--background-color);
    color: var(--main-text-color);
}

.header__main-navigator-h2 {
    font-family: "Prata";
    margin: 30px 0;
    font-weight: lighter;
}

.header__main-navigator-p {
    margin: 35px 0;
    color: var(--hidden-text-color);
}

.header__main-navigator-link {
    margin: 10px 0;
}

.header__main-navigator-link {
    color: var(--main-text-color);
    text-decoration: none;
}

.header__main-navigator-link:hover {
    text-decoration: underline;
}
