.deals {
    background-color: var(--background-color);
    text-align: center;
    color: var(--main-text-color);
    padding-top: 70px;
}

.deals__p {
    color: var(--main-link-text-color);
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
}

.deals__h2 {
    font-family: 'Prata', serif;
    font-size: 48px;
    color: var(--main-text-color);
    padding-top: 20px;
}

.deals__img {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 25px;
}

.deals__subheader {
    color: var(--main-text-color);
    font-size: 18px;
    margin-top: 20px;
}

.history {
    background-color: var(--background-color);
}

.history__img {
    background-color: var(--background-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    margin-bottom: 50px;
}

.history__ul {
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    padding-left: 150px;
    padding-right: 150px;
}

.history__p {
    color: var(--main-link-text-color);
}

.history__h4 {
    color: var(--main-text-color);
    font-size: 22px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider__history {
    height: 2px;
    width: 15%;
    background-color: var(--main-link-text-color);
    margin-bottom: 20px;
}

.history__subheader {
    color: var(--hidden-text-color);
    font-size: 16px;
    line-height: 1.6;
    font-family: Rubik, sans-serif;
    font-weight: 400;
}

@media (min-width: 340px) {

    .history__img {
        max-width: 70%;
    }

    .history__ul {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 640px) {

    .history__img {
        max-width: 60%;
    }

    .history__ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 960px) {

    .history__img {
        max-width: 70%;
    }

    .history__ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1100px) {

    .history__img {
        max-width: 80%;
    }

    .history__ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


/*korchak block start*/

.page-natural {
    color: var(--main-text-color);
    background-color: var(--background-color);   
}

.h2-body {
   text-align: center;
   font-family: Prata, serif;
}

.h3-body {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 0 20px;
  }

.row-conteiner {
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    height: 30px; 
   }

.row {
background-color: var(--main-link-text-color);    
border: 1px solid var(--main-link-text-color);
height: 1px;
width:15%;
align-self: center;
}

span {
    display: block;
    text-align: center;
}

.main-blocks-color {
    color: var(--main-link-text-color);
    font-family: Great Vibes, undefined;
}

.top-content-block {
    margin-top: 10px;
}

.text-block {
    color: var(--hidden-text-color);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;    
}

.vine-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}


.buy-wine-or-learn-more {
    color: var(--main-text-color);
    background-image: url(../img/main/main-banner-background.jpeg);
    background-attachment: fixed;
    background-color: var(--background-color);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#.buttons-block {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: auto;
    margin: auto;
}

.button1 {
    display: flex;
    background-color: var(--main-link-text-color);
    padding: 0.35em 1.2em;
    margin: 0 0.3em 1.3em 0;
    border-radius: 0.12em;
    color: var(--main-text-color);
    text-decoration: none;
    text-align: center;
    }

.button2 {
    display: flex;
    padding: 0.35em 1.2em;
    border: 0.2em solid var(--main-text-color);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: var(--main-text-color);
    text-decoration: none;
    background-color: transparent;
}

@media (min-width: 770px) {
    .page-natural {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr;    
        grid-template-areas: "head head head"
                        "img  block1 block2";
        margin-bottom: -100px;                
        padding-right: 20px;                 
    }   

    .wine-main-image {
        display: flex;
        object-fit: contain;
        aspect-ratio: 1/1;
    }
    .top-content-block {
        grid-area: head;
        margin-bottom: 80px;
    }

    .vine-image {
        height: 20%;
        width: 20%;
    }

    .wine-image {
        grid-area: img;
        
    }

    .button-content-block1 {
        grid-area: block1;
    }

    .button-content-block2 {
        grid-area: block2;
    }

    .buttons-block {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .button1 {
        border: 0.2em solid var(--main-link-text-color);
    }
}

/*korchak block end*/
