.deals {
    background-color: var(--background-color);
    text-align: center;
    color: var(--main-text-color);
}

.deals__p {
    color: var(--main-link-text-color);
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
}

.deals__h2 {
    font-family: 'Prata', serif;
    font-size: 48px;
    color: var(--main-text-color);
    padding-top: 20px;
}

.deals__img {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 25px;
}

.deals__subheader {
    color: var(--main-text-color);
    font-size: 18px;
    margin-top: 20px
}

.history {
    background-color: var(--background-color);
}

.history__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

.history__ul {
    display: flex;
    justify-content: space-around;
}

.history__p {
    color: var(--main-link-text-color);
}

.history__h4 {
    color: var(--main-text-color);
    font-size: 22px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider__history {
    height: 2px;
    width: 15%;
    background-color: var(--main-link-text-color);
    margin-bottom: 20px;
}

.history__subheader {
    color: var(--hidden-text-color);
    font-size: 16px;
    line-height: 1.6;
    font-family: Rubik, sans-serif;
    font-weight: 400;
}

section {
    color: white;
    background-color: var(--background-color);
}

h2 {
    text-align: center;
    font-family: Prata, serif;
}

h3 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

span {
    display: block;
    text-align: center;
}

.main-blocks-color {
    color: var(--main-link-text-color);
    font-family: Great Vibes, undefined;
}

.top-content-block {
    margin-top: 10px;
}

.text-block {
    color: var(--hidden-text-color);
    text-align: center;

}

.body-section-banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.buy-wine-or-learn-more {
    background-image: url(../img/main/main-banner-background.jpeg);
    background-color: var(--background-color);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button {
    display: block;
    width: auto;
    margin: auto;
}

.button {
    padding: 0.35em 1.2em;
    border: 0.1em solid white;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
}