.footer {
    background-color: #261e1c;
}

.footer__wrapper {
    padding: 0 40px;
}

span.footer__mass-mailing-span {
    font-family: 'Great Vibes';
    color: #c8693a;
    font-size: 28px;
    text-align: start;
}
.footer__h4 {
    color: white;
    font-family: 'Prata', serif;
}

.footer__h3 {
    color: white;
    font-family: 'Prata', serif;
    text-align: start;
}

.footer__p {
    color: white;
}

.footer__button {
    background-color: #c8693a;
    width: 300px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border: none;
    padding: 3px 10px;
    border-radius: 3px;
    margin: 15px 0 0 0 ;
}

.footer__form-input {
    background-color: rgba(73, 73, 73, 0.24);
    border: none;
    display: block;
    width: 300px;
    height: 50px;
    border-radius: 3px;
}

.footer__mass-mailing {
    display: flex;
}

.footer__form {
    margin: 0 0 0 30px;
}


