.wine-products-carousel  {
    background-color: var(--background-color);
}

.wine-products-carousel {
    display: flex;
    justify-content: space-between;
    padding: 70px;
}

.wine-products-carousel .slide {
    display: flex;
    justify-content: space-around;
  
}

.wine-products-carousel img {
    height: 90%;
}

.back {
    width: 50px;
    height: 25px;
    margin-top: 160px;
}

.forward {
    width: 50px;
    height: 25px;
    margin-top: 160px;
}


.product-info {
    background-color: var(--background-color);
    color: var(--main-text-color);
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    padding-left: 300px;
    
}

.buy-button {
    text-align: center;
    border: 3px solid #c8693a;
    background-color: #c8693a;
    padding: 15px 30px;
    color: var(--main-text-color);
    margin-right: 10px;
    font-weight: 700;
    font-size: 15px;
    font-family: "Rubik";
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 10px;
    line-height: 1.2;
    text-decoration: none;
}

@media (min-width: 340px) { 
    .product-info {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 50px;
    }
}

@media (min-width: 640px) { 
    .product-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 140px;
    }
}

@media (min-width: 960px) { 
    .product-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 200px;
    }
}

@media (min-width: 1100px) { 
    .product-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 300px;
    }
}